body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: url('https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=ecf05e47f9xeng7obchbqx08wuxnb9gym4hrnwtu70pl93ht&ep=v1_gifs_search&rid=giphy.gif&ct=g') no-repeat center center fixed;
  background-size: cover; */
}

.App-header {
  background-color: transparent;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.5;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


